body {
    margin: 0;
    font-family: "YS Text", "Arial Black";
}

.row {
    display: flex;
}

.game {
    font-family: "YS Text", "Arial Black";

    padding: 10px;

    display: flex;
    align-items: center;
    justify-content: space-around;

    box-sizing: border-box;

    min-height: 100vh;

    background-color: #111133;
}

.desk {
    overflow: hidden;

    position: relative;

    border: 2px solid #333333;
    background: #eeeeee;
    box-shadow: 0 0 15px 5px rgba(69, 69, 69, .2);
    border-radius: 4px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    box-sizing: border-box;
    padding: 10px;

    background: #333333;
    color: #ffffff;

    font-size: 16px;
}

.pause {
    font-size: 18px;

    word-spacing: 2px;

    font-weight: bolder;
}

.pause::before {
    display: block;
    content: '⏸️';
}

.paused,
.play {
    z-index: 2;
    position: absolute;

    width: 100%;
    height: 100%;

    padding: 10px;

    font-size: 36px;
    text-transform: uppercase;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all .2s ease-in-out;
}

.paused::before,
.play::before {
    display: block;
    content: '▶️'
}

.play {
    background: #333333;
}

.reload {
    margin-right: 10px;
}

.reload::before {
    display: block;
    content: '⟲';
}

.play:hover,
.paused {
    font-size: 48px;
    box-shadow: inset 0 0 25px 25px rgba(255, 255, 255, .2);
}

.hidden {
    display: none;
}

.paused {
    background: rgba(69, 69, 69, .5);
    color: #ffffff;

    box-shadow: inset 0 0 40px 40px rgba(0, 0, 0, .5);
}
